sourceDir = "{{ .chezmoi.homeDir }}/.dotfiles"
[git]
    autoPush = true
    autoCommit = true

## encryption = "age"

## [age]
##     identity = "{{ .chezmoi.homeDir }}/.ssh/id_rsa_chezmoi"
##     symmetric = true

