###########################################################
# Chezmoi
############################################################
alias cm=chezmoi
alias cmdiff="chezmoi git pull -- --rebase && chezmoi diff"
alias cmu="chezmoi update"
alias cma="chezmoi add"
alias cmf="chezmoi forget"
alias cmc="chezmoi cd"

###########################################################
# Claude
############################################################
alias clc="claude --dangerously-skip-permissions --no-chrome"

############################################################
# Terminal
############################################################
#if [[ -z "${SSH_CONNECTION}" ]]; then
#	export TERM=screen-256color
#fi
# export TERM=xterm-256color
bindkey -v


############################################################
# Aliases
############################################################
alias l='ls -l'

############################################################
# Git Aliases
############################################################
# alias gs='git status'
# alias ga='git add'
# alias gb='git branch'
# alias gc='git commit'
# alias gco='git checkout'
# alias gl='git log'
# alias gd='git diff'
# alias gp='git push'
# alias gg='git grep'
# alias gf='git fetch'
# alias gfa='git fetch --all'
# alias g='grep'


############################################################
# AWS/Kubernetes
############################################################
# alias kt='ktail'
# alias kc='kubectl'
# alias kns='kubens'
# alias kct='kubectx'
# alias kl='kubectl logs'
# alias kgp='kubectl get pod'
# alias kga='kubectl get all'
# alias kcx='kubectx'
# alias kns='kubens'
# alias awl='awless'

#export BROWSER="powershell.exe /C start"


############################################################
# System Tools (brew, etc)
############################################################

############################################################
# HashiCorp
############################################################
alias tf='terraform'
alias tfp='terraform plan'
alias tfa='terraform apply'
alias tfaa='terraform apply -auto-approve'
alias tfd='terraform destroy'
alias tfdd='terraform destroy -auto-approve'

############################################################
# PDSH
############################################################
export PDSH_RCMD_TYPE=ssh
export PDSH_SSH_ARGS_APPEND="-i $HOME/.ssh/proxmox -l debian -o StrictHostKeyChecking=accept-new"

############################################################
# ColorScript
############################################################
## $HOME/.local/bin/colors-banner

