{{ if eq .chezmoi.os "windows" -}}

#!{{ lookPath "pwsh" }}

{{ if .packages.windows.cargo -}}
{{ range .packages.windows.cargo -}}
Write-Host "--- Cargo'ing Rust apps" -ForegroundColor Yellow
cargo install {{ . | quote }}
{{ end -}}
{{ end -}}

{{ end -}}
