############################################################
# Configuration
export EDITOR=vim
export SOPS_KMS_ARN="arn:aws:kms:us-east-1:948063967832:key/e56fefb0-b667-41e6-bd19-1075cb8db62e"

############################################################
# Aliases
# Enable colorized ls
alias ls='ls -G'
alias l='ls -lG'

alias gs='git status'
alias ga='git add'
# alias gb='git branch'
# alias gc='git commit'
# alias gco='git checkout'
# alias gl='git log'
# alias gd='git diff'
# alias gp='git push'
# alias gg='git grep'
# alias gf='git fetch'
# alias gfa='git fetch --all'
# alias fi='git fetch alertlogic; git rebase alertlogic/integration'
# alias fm='git fetch alertlogic; git rebase alertlogic/master'
# alias g='grep'

alias brewup='brew update && brew upgrade && brew cask upgrade && brew cleanup; brew doctor; brew cleanup --prune 30'

# kubectl aliases
alias kt='kubetail'
alias kc='kubectl'
alias kl='kubectl logs'
alias kgp='kubectl get pod'
alias kga='kubectl get all'
alias kcb='kubectl --namespace=barkly-stack'
alias kck='kubectl --namespace=kube-system'
alias kcs='kubectl --namespace=stackstorm'

alias tf='terraform'

alias awl='awless'

# fpath=($fpath ~/.zsh/completion)

# eval "$(rbenv init - | head -n 2)"

# Virtualenvwrapper things
# export WORKON_HOME=$HOME/.virtualenvs
# export PROJECT_HOME=$HOME/Development
# export VIRTUALENVWRAPPER_SCRIPT=/usr/bin/virtualenvwrapper.sh
# source /usr/local/bin/virtualenvwrapper_lazy.sh

alias st2c='kubectl exec -it $(kubectl get --namespace stackstorm pod -l app=st2client,release=stackstorm -o jsonpath="{.items[0].metadata.name}") --namespace stackstorm -- st2'
alias st2b='kubectl exec -it $(kubectl get --namespace stackstorm pod -l app=st2client,release=stackstorm -o jsonpath="{.items[0].metadata.name}") --namespace stackstorm -- bash'

