<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.janky.borders.aero</string>
        <key>ProgramArguments</key>
        <array>
                <string>/bin/bash</string>
                <string>/Users/eric/.config/aerospace/borders/bordersrc</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>ProcessType</key>
        <string>Interactive</string>
        <key>EnvironmentVariables</key>
        <dict>
                <key>PATH</key>
                <string>/opt/homebrew/bin:/Users/eric/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
                <key>HOME</key>
                <string>/Users/eric</string>
        </dict>
        <key>StandardOutPath</key>
        <string>/tmp/borders-aero.out.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/borders-aero.err.log</string>
</dict>
</plist>
