<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.nikitabobko.aerospace</string>
        <key>ProgramArguments</key>
        <array>
                <string>/Applications/AeroSpace.app/Contents/MacOS/AeroSpace</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>ProcessType</key>
        <string>Interactive</string>
        <key>EnvironmentVariables</key>
        <dict>
                <key>PATH</key>
                <string>/opt/homebrew/bin:/Users/eric/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        </dict>
        <key>StandardOutPath</key>
        <string>/tmp/aerospace.out.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/aerospace.err.log</string>
</dict>
</plist>
