<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.komorebi.bar.g9</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/komorebi-bar</string>
        <string>--config</string>
        <string>/Users/eric/.config/komorebi/komorebi.bar.g9.json</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/komorebi-bar-g9.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/komorebi-bar-g9.err.log</string>
</dict>
</plist>
