[Unit]
Name = "ahk"
description = "AutoHotkey - Keyboard Shortcuts"

[Service]
Kind = "Forking"
Restart = "Never"
Autostart = false

[Service.ExecStart]
Executable = "$USERPROFILE/AppData/Local/Programs/AutoHotkey/v2/AutoHotkey64.exe"
Arguments = [
    "$USERPROFILE/.config/ahk/init.ahk",
]

[[Service.ExecStop]]
Executable = "powershell.exe"
Arguments = ["-NoProfile", "-Command", "& {& taskkill /f /im AutoHotkey64.exe; Wait-Process -Name 'AutoHotkey64' -ErrorAction SilentlyContinue; exit 0}"]

[Service.Healthcheck.Process]
DelaySec = 5
Target = "AutoHotkey64.exe"